p1{
   color:darksalmon
    
}
p2{
    color: crimson
}
p3{
    color: dodgerblue
}
p4{
    color: deeppink
}

body{
     background-color:aqua
    
}
img {
    max-width: 500px;
    height: auto;
}
html {
background: #505D6E url("html {
background: #505D6E url("images/mosasaur.jpg") no-repeat center center fixed;
min-height: 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
}

body {
    background: transparent;
}

table {
    background: transparent;
    
    @media(max-width: 960px){
        
        .container{
            width:auto;
        }
    }

    @media (max-width: 414px) {
        p1 {
            box-sizing: border-box
                       max-width:100%
            
        }
         p2 {
            box-sizing: border-box
                       max-width:100% 
        }
        p3 {
            box-sizing: border-box
                       max-width:100% 
        }
      
        
                head{
            box-sizing: border-box 
                       max-width:100%
        }
        body{
            box-sizing: border-box
                max-width:100%
        }
        .pic{
             box-sizing: border-box
                  max-width:100%
        }
        
        @media screen and (min-width: 100%) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left:216px;}
}
        @media screen and (min-width: 480px) {
            p1{
                font-size: 300px
            }
        
            p2{
                font-size: 300px
            }
            p3{
            font-size: 300px
            }
            
            .pic{
                height:300px; width:300px;
                
            }
            
            
            
            
            
        }
        @media (max-width:1600px) and (min-width: 500px){
         
            body{
                background-color: blue
            }
            
        }
        
        
        
        
        
        
        
        
        
        